#container {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
}

section {
    width: 80%;
}

aside {
    width: 20%;
    display: flex;
    flex-direction: column;
}

button.selected-target {
  background-color: #ffeb3b; /* Or your preferred color */
  font-weight: bold;
}
