<button (click)="isToolBoxVisible = !isToolBoxVisible" id="toolbox_toggle">Toggle toolbox</button>
@if (isToolBoxVisible) {
  <app-toolbox></app-toolbox>
}
<button id="sideBar_Toggle" (click)="switchSideBar()">Toggle sidebar</button>
<section id="container">

  @if (isSideBarVisible) {
    <app-character-selection id="right_section"></app-character-selection>
  }


  <section id="left_section" [style.width]="leftSectionWidth">
    @if (typeToBeDisplayed == "") {
      <h1>An unsupported character chosen!</h1>
    } @else if (typeToBeDisplayed == "generation ship") {
      <app-character></app-character>
    } @else if (typeToBeDisplayed == "dndnt") { 
      <app-dndnt-character></app-dndnt-character>
    } @else {
      <h1>Error!</h1>
    }
    
  </section>

</section>

<router-outlet />
