<input type="text" name="character_search" id="character_search" [(ngModel)]="searchTerm">
@if (searchTerm.trim()) {
    @for (Character of CharactersArray; track $index) {
        @if (Character.name.toLowerCase().includes(searchTerm.toLowerCase())) {
            <button (click)="chooseCharacter(Character)">
                {{Character.name}} || {{Character.campaign}}
            </button>
        }
    }
} @else {
    @for (campaign of campaigns; track $index) {
        <h3 (click)="toggleCampaign(campaign)">{{campaign}}</h3>
        
        @if (!collapsed[campaign]) {
            @for (Character of CharactersArray; track $index) {
                @if (Character.campaign == campaign) {
                    <button (click)="chooseCharacter(Character)">
                        {{Character.name}} || {{Character.campaign}}
                    </button>
                }
            }
        }
    }
}

<button (click)="isCreatorVisible = !isCreatorVisible" id="creatorButton">
    {{ (isCreatorVisible)? "Close" : "Open" }} creator
</button>
@if (isCreatorVisible) {
    <button (click)="createNewCharacter('generation')">Generation Ship</button>   
    <button (click)="createNewCharacter('dndnt')">DnDn't</button>
    <button (click)="createNewCharacter('5e')">5e</button>
}   
